<header class="header">
  <div class="header-wrapper">
    <div class="header-left-wrapper">
    <a href="/" class="header-logo">
      <img
      src="/assets/icons/logo.svg"
      alt="EGE Logo"
      class="header-logo-image"
      width="60" height="40"
      >
    </a>
    <nav class="header-menu">
      <ul class="header-menu-list">
        <li class="header-menu-item">
          <a href="" class="header-menu-link">Главная</a>
        </li>
        <li class="header-menu-item">
          <a href="" class="header-menu-link">О компании</a>
        </li>
        <li class="header-menu-item">
          <a href="" class="header-menu-link">Каталог</a>
        </li>
      </ul>
    </nav>
    </div>
    <div class="header-actions">
      <div class="header-number">
      <img src="/assets/icons/phone.svg" alt="Phone icon">
      +7 (965) 084-29-29 
      </div>
    <button class="header-heart">
      <img src="/assets/icons/heart.svg" alt="Heart icon">
    </button>
    <button class="header-cart">
      <img src="/assets/icons/cart.svg" alt="Cart icon" width="28" height="28">
      Пусто
    </button>
    </div>
  </div>
</header>
<header class="header2">
  <div class="header2-wrapper">
    <div class="header-left-wrapper">
    <button class="header2-tree-button">
      <img src="/assets/icons/tree.svg" alt="Button tree">
    </button>
    <div class="header2-menu">
      <button class="header2-menu-button" type="button">Каталог</button>
      <button class="header2-menu-button" type="button">Стройматериалы</button>
      <button class="header2-menu-button" type="button">Инструменты</button>
      <button class="header2-menu-button" type="button">Электрика</button>
      <button class="header2-menu-button" type="button">Интерьер и одежда</button>
    </div>
    </div>
    <form class="header2-form">
      <div class="header2-form-search">
        <input type="search" class="header2-search-text" placeholder="Поиск, например Круг зачистной">
        <button class="header2-button-loupe">
        <img src="/assets/icons/loupe.svg" alt="Loupe icon">
        </button>
      </div>
      <div class="header2-form-location">
        <img src="/assets/icons/map-pin.svg" alt="Map icon" class="header2-form-map">
        <select name="city" id="city" class="header2-form-city">
          <option value="moscow">Москва</option>
          <option value="petersburg">Санкт-Петербург</option>
          <option value="ekaterinburg">Екатеринбург</option>
          <option value="pscov">Псков</option>
          <option value="ryazan">Рязань</option>
        </select>
      </div>
    </form>
  </div>
</header>
  <main class="content">
    <section class="banner">
      <img src="/assets/images/banner.png" alt="Banner" class="banner-image">
    </section>
    <section class="benefit">
      <ul class="benefit-list">
        <li class="benefit-item">
          <img src="assets/icons/brickwall.svg" alt="Brick wall icon" class="card-first-icon">
          <div class="benefit-text">
          Большой ассортимент <br>
          <span class="color-gray">строительных материалов всегда в <br> наличии
          </span>
          </div>
        </li>
        <li class="benefit-item">
          <img src="/assets/icons/delivery.svg" alt="Delivery icon" class="card-second-icon">
          <div class="benefit-text">
          Доставка стройматериалов <br>
          <span class="color-gray">в течении четырех часов или в <br> любое удобное время</span>
          </div>
        </li>
        <li class="benefit-item">
          <img src="/assets/icons/likehand.svg" alt="Like icon" class="card-third-icon">
          <div class="benefit-text">
          <span class="color-gray">Многоуровневая система <br> </span> 
          управления качеством <span class="color-gray">по стандарту <br>
          ISO 9001</span>
          </div>
        </li>
      </ul>
    </section>
    <section class="products">
      <ul class="products-pagination">
        <li class="pagination-item">
          <button class="pagination-button is-current">1</button>
        </li>
        <li class="pagination-item">
          <button class="pagination-button">2</button>
        </li>
        <li class="pagination-item">
          <button class="pagination-button">3</button>
        </li>
        <li class="pagination-item">
          <button class="pagination-button">4</button>
        </li>
        <li class="pagination-item">
          <button class="pagination-button">5</button>
        </li> 
      </ul>
      <ul class="product-card">
        <li class="poduct-card-item1">
          <div class="product-card-title">
            Строительный отделочный инструмент
          </div>
          <div class="poduct-card-link">
            Перейти в каталог
            <a href="" class="product-card-href">
            <img src="/assets/icons/product-card-Arrow.svg" alt="Arrow image" class="product-card-arrow">
            </a>
          </div>
        </li>
        <li class="poduct-card-item2">
          <div class="product-card-title-right">
            Эмали
          </div>
          <div class="poduct-card-link">
            Перейти в каталог
            <a href="" class="product-card-href">
            <img src="/assets/icons/product-card-Arrow.svg" alt="Arrow image" class="product-card-arrow">
            </a>
          </div>
        </li>
        <li class="poduct-card-item3">
          <div class="product-card-title">
            Лакокрасочные материалы
          </div>
          <div class="poduct-card-link-left">
            Перейти в каталог
            <a href="" class="product-card-href">
            <img src="/assets/icons/product-card-Arrow.svg" alt="Arrow image" class="product-card-arrow">
            </a>
          </div>
        </li>
        <li class="poduct-card-item4">
          <div class="product-card-title">
            Пены, клеи и<br> герметики
          </div>
          <div class="poduct-card-link-left">
            Перейти в каталог
            <a href="" class="product-card-href">
            <img src="/assets/icons/product-card-Arrow.svg" alt="Arrow image" class="product-card-arrow">
            </a>
          </div>
        </li>
        <li class="poduct-card-item5">
          <div class="product-card-title">
            Розетки и выключатели
          </div>
          <div class="poduct-card-link">
            Перейти в каталог
            <a href="" class="product-card-href">
            <img src="/assets/icons/product-card-Arrow.svg" alt="Arrow image" class="product-card-arrow">
            </a>
          </div>
        </li>
      </ul>
    </section>
    <section class="popular_products">
      <div class="popular_products-title">
        <span class="popular_products-title-text">Популярные товары</span>
        <a href="" class="popular_products-title-link">Посмотреть все товары</a>
      </div>
      <div style="position: relative;">
      <ul class="popular_products-list">
        <li class="popular_products-item">
          <div class="products-item-head">
            <span class="products-item-discount">%</span>
            <button class="products-item-heart">
            <img src="/assets/icons/black-heart.svg" alt="Heart icon">
            </button>
          </div>
          <div class="products-item-main">
            <div class="item-main-name">
              Круг зачистной 125х6х22
            </div>
            <div class="products-item-articul">
              Артикул 00004
            </div>
            <div class="products-item-price">
              <div class="color-gray">Цена за штуку</div>
              <div class="prise-wrapper">
                <span class="prise-strikeout">
                52 руб.
                </span>
                <span class="prise-number">
                48 руб.
                </span>
              </div>
            </div>
            <div class="products-item-order">
              <div class="order-quantity">
                <div class="quantity-text">Количество</div>
                <div class="quantity-actions">
                  <button class="minus">-</button>
                  <span class="quantity-number">1</span>
                  <button class="plus">+</button>
                </div>
              </div>
              <button class="quantity-cart">
                <span class="cart-text">В корзину</span>
              </button>
            </div>
          </div>
        </li>
        <li class="popular_products-item">
          <div class="products-item-head">
            <span class="products-item-discount">%</span>
            <button class="products-item-heart">
            <img src="/assets/icons/black-heart.svg" alt="Heart icon">
            </button>
          </div>
          <div class="products-item-main">
            <div class="item-main-name">
              Круг зачистной 125х6х22
            </div>
            <div class="products-item-articul">
              Артикул 00004
            </div>
            <div class="products-item-price">
              <div class="color-gray">Цена за штуку</div>
              <div class="prise-wrapper">
                <span class="prise-strikeout">
                52 руб.
                </span>
                <span class="prise-number">
                48 руб.
                </span>
              </div>
            </div>
            <div class="products-item-order">
              <div class="order-quantity">
                <div class="quantity-text">Количество</div>
                <div class="quantity-actions">
                  <button class="minus">-</button>
                  <span class="quantity-number">1</span>
                  <button class="plus">+</button>
                </div>
              </div>
              <button class="quantity-cart">
                <span class="cart-text">В корзину</span>
              </button>
            </div>
          </div>
        </li>
        <li class="popular_products-item">
          <div class="products-item-head">
            <div class="products-item-wrapper">
              <span class="pruducts-item-new">Новинка</span>
              <span class="products-item-discount">%</span>
            </div>
            <button class="products-item-heart">
            <img src="/assets/icons/black-heart.svg" alt="Heart icon">
            </button>
          </div>
          <div class="products-item-main">
            <div class="item-main-name">
              Круг зачистной 125х6х22
            </div>
            <div class="products-item-articul">
              Артикул 00004
            </div>
            <div class="products-item-price">
              <div class="color-gray">Цена за штуку</div>
              <div class="prise-wrapper">
                <span class="prise-strikeout">
                52 руб.
                </span>
                <span class="prise-number">
                48 руб.
                </span>
              </div>
            </div>
            <div class="products-item-order">
              <div class="order-quantity">
                <div class="quantity-text">Количество</div>
                <div class="quantity-actions">
                  <button class="minus">-</button>
                  <span class="quantity-number">1</span>
                  <button class="plus">+</button>
                </div>
              </div>
              <button class="quantity-cart">
                <span class="cart-text">В корзину</span>
              </button>
            </div>
          </div>
        </li>
        <li class="popular_products-item">
          <div class="products-item-head">
            <span class="pruducts-item-new">Новинка</span>
            <button class="products-item-heart">
            <img src="/assets/icons/black-heart.svg" alt="Heart icon">
            </button>
          </div>
          <div class="products-item-main">
            <div class="item-main-name">
              Круг зачистной 125х6х22
            </div>
            <div class="products-item-articul">
              Артикул 00004
            </div>
            <div class="products-item-price">
              <div class="color-gray">Цена за штуку</div>
              <div class="prise-wrapper">
                <span class="prise-number">
                52 руб.
                </span>
              </div>
            </div>
            <div class="products-item-order">
              <div class="order-quantity">
                <div class="quantity-text">Количество</div>
                <div class="quantity-actions">
                  <button class="minus">-</button>
                  <span class="quantity-number">1</span>
                  <button class="plus">+</button>
                </div>
              </div>
              <button class="quantity-cart">
                <span class="cart-text">В корзину</span>
              </button>
            </div>
          </div>
        </li>
      </ul>
      <button class="cards-arrow arrow-left">
        <img src="/assets/icons/arrow-card-left.svg" alt="Arrow icon">
        </button>
        <button class="cards-arrow arrow-right">
        <img src="/assets/icons/arrow-card-right.svg" alt="Arrow icon">
      </button>
      </div>
    </section>
    <section class="catalog">
      <div class="catalog-wrapper">
        <div class="catalog-head">
          <h2 class="catalog-title">
          Более 10 000 наименований 
          </h2>
          <h3 class="catolog-text color-gray">
          Инструмент для вашего бизнеса, разнообразных марок
          </h3>
        </div>
          <a href="" class="catalog-enter">
          Перейти в каталог
          </a>
      </div>
    </section>
    <section class="popular_products">
      <div class="popular_products-title">
        <span class="popular_products-title-text">Новинки</span>
        <a href="" class="popular_products-title-link">Посмотреть все товары</a>
      </div>
      <div style="position: relative;">
      <ul class="popular_products-list">
        <li class="popular_products-item">
          <div class="products-item-head">
            <span class="pruducts-item-new">Новинка</span>
            <button class="products-item-heart">
            <img src="/assets/icons/black-heart.svg" alt="Heart icon">
            </button>
          </div>
          <div class="products-item-main">
            <div class="item-main-name">
              Круг зачистной 125х6х22
            </div>
            <div class="products-item-articul">
              Артикул 00004
            </div>
            <div class="products-item-price">
              <div class="color-gray">Цена за штуку</div>
              <div class="prise-wrapper">
                <span class="prise-number">
                52 руб.
                </span>
              </div>
            </div>
            <div class="products-item-order">
              <div class="order-quantity">
                <div class="quantity-text">Количество</div>
                <div class="quantity-actions">
                  <button class="minus">-</button>
                  <span class="quantity-number">1</span>
                  <button class="plus">+</button>
                </div>
              </div>
              <button class="quantity-cart">
                <span class="cart-text">В корзину</span>
              </button>
            </div>
          </div>
        </li>
        <li class="popular_products-item">
          <div class="products-item-head">
            <span class="pruducts-item-new">Новинка</span>
            <button class="products-item-heart">
            <img src="/assets/icons/black-heart.svg" alt="Heart icon">
            </button>
          </div>
          <div class="products-item-main">
            <div class="item-main-name">
              Круг зачистной 125х6х22
            </div>
            <div class="products-item-articul">
              Артикул 00004
            </div>
            <div class="products-item-price">
              <div class="color-gray">Цена за штуку</div>
              <div class="prise-wrapper">
                <span class="prise-number">
                52 руб.
                </span>
              </div>
            </div>
            <div class="products-item-order">
              <div class="order-quantity">
                <div class="quantity-text">Количество</div>
                <div class="quantity-actions">
                  <button class="minus">-</button>
                  <span class="quantity-number">1</span>
                  <button class="plus">+</button>
                </div>
              </div>
              <button class="quantity-cart">
                <span class="cart-text">В корзину</span>
              </button>
            </div>
          </div>
        </li>
        <li class="popular_products-item">
          <div class="products-item-head">
            <span class="pruducts-item-new">Новинка</span>
            <button class="products-item-heart">
            <img src="/assets/icons/black-heart.svg" alt="Heart icon">
            </button>
          </div>
          <div class="products-item-main">
            <div class="item-main-name">
              Круг зачистной 125х6х22
            </div>
            <div class="products-item-articul">
              Артикул 00004
            </div>
            <div class="products-item-price">
              <div class="color-gray">Цена за штуку</div>
              <div class="prise-wrapper">
                <span class="prise-number">
                52 руб.
                </span>
              </div>
            </div>
            <div class="products-item-order">
              <div class="order-quantity">
                <div class="quantity-text">Количество</div>
                <div class="quantity-actions">
                  <button class="minus">-</button>
                  <span class="quantity-number">1</span>
                  <button class="plus">+</button>
                </div>
              </div>
              <button class="quantity-cart">
                <span class="cart-text">В корзину</span>
              </button>
            </div>
          </div>
        </li>
        <li class="popular_products-item">
          <div class="products-item-head">
            <span class="pruducts-item-new">Новинка</span>
            <button class="products-item-heart">
            <img src="/assets/icons/black-heart.svg" alt="Heart icon">
            </button>
          </div>
          <div class="products-item-main">
            <div class="item-main-name">
              Круг зачистной 125х6х22
            </div>
            <div class="products-item-articul">
              Артикул 00004
            </div>
            <div class="products-item-price">
              <div class="color-gray">Цена за штуку</div>
              <div class="prise-wrapper">
                <span class="prise-number">
                52 руб.
                </span>
              </div>
            </div>
            <div class="products-item-order">
              <div class="order-quantity">
                <div class="quantity-text">Количество</div>
                <div class="quantity-actions">
                  <button class="minus">-</button>
                  <span class="quantity-number">1</span>
                  <button class="plus">+</button>
                </div>
              </div>
              <button class="quantity-cart">
                <span class="cart-text">В корзину</span>
              </button>
            </div>
          </div>
        </li>
      </ul>
      <button class="cards-arrow arrow-left">
        <img src="/assets/icons/arrow-card-left.svg" alt="Arrow icon">
        </button>
        <button class="cards-arrow arrow-right">
        <img src="/assets/icons/arrow-card-right.svg" alt="Arrow icon">
      </button>
      </div>
    </section>
    <footer>
      <div class="footer-wrapper">
      <div class="footer-left">
      <img src="/assets/icons/logo.svg" alt="Logo icon">
        <div class="footer-gap-wrapper">
          <div class="footer-left-wrapper">
            <img src="/assets/icons/phone-footer.svg" alt="Phone icon">
            <div class="footer-left-main">
              <p class="footer-left-title">
                Контактный телефон
              </p>
              <p class="footer-left-text">
                + 7 (812) 309-09-34
              </p>
              <p class="footer-left-text">
                + 7 (965) 084-29-09
              </p>
            </div>
          </div>
          <div class="footer-left-wrapper">
            <img src="/assets/icons/email.svg" alt="Email icon">
            <div class="footer-left-main">
              <p class="footer-left-title">
                Электронная почта
              </p>
              <p class="footer-left-text">
                tustin78&#64;mail.ru
              </p>
              <p class="footer-left-text">
                info&#64;tustin.ru
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-right">
        <div class="footer-right-title">
          Остались вопросы?
        </div>
        <div class="footer-right-text">
          Узнавайте первым о скидках, предложениях и событиях еженедельно в <br> своем почтовом ящике. Отпишитесь в любое время одним щелчком мыши.
        </div>
        <form class="footer-right-input">
          <div class="right-input-wrapper">
            <img src="/assets/icons/email.svg" alt="Email icon" width="16px" height="16px">
            <input type="search" class="right-input-search" placeholder="Введите свою почту">
          </div>
          <button class="footer-right-button">
            Отправить
          </button>
        </form>
      </div>
      <div class="footer-down">
        <nav class="footer-down-nav">
          <a href="" class="down-nav-link">
            Главная
          </a>
          <a href="" class="down-nav-link">
            О компании
          </a>
          <a href="" class="down-nav-link">
            Каталог
          </a>
        </nav>
        <div class="footer-down-media">
          <div class="down-media-social">
            <img src="/assets/icons/facebook.svg" alt="Facebook icon">
            <img src="/assets/icons/youtube.svg" alt="Youtube icon">
            <img src="/assets/icons/whatsup.svg" alt="Whatsup icon">
          </div>
          <div class="down-media-since">
            © 2021-2022, EDE
          </div>
        </div>
      </div>
      </div>
    </footer>
  </main>
  