  a.header-menu-link {
  color: #fff;
  text-decoration: none;
 }
 .header {
  font-family: Inter, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #4B565E;
  height: 80px;
 }
 
 .header-menu-list {
  font-weight: 600;
  font-size: 16px;
  padding-left: 40px;
  display: flex;
  column-gap: 24px;
 }
 
 .header-actions {
  display: flex;
  align-items: center;
  padding-left: 522px;
  column-gap: 40px;
 }
 
 .header-number {
  font-weight: 500;
  font-size: 16px;
  display: flex;
  column-gap: 10px;
 }

 .header-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 126px;
  height: 48px;
  column-gap: 10px;
  color: #fff;
  border: 1px solid #F0BA4E;
  border-radius: 50px;
  background-color: #4B565E;
 }
 
 .header2 {
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: #F0BA4E;
 }
 
 .header2-list-button {
  border: none;
  background: none;
  padding-right: 10px;
 }
 
 .header2-menu-list {
  display: flex;
  column-gap: 24px;
 }
 
 a.header2-menu-link {
  text-decoration: none;
  color: #3C3C3B;
 }
 
 .header2-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 215px;
  column-gap: 24px;
 }
 
 .header2-form-search {
  display: flex;
  border-bottom: 1px solid #3C3C3B;
 }
 
 .header2-search-text {
  width: 300px;
  border: none;
  background: none;
 }
 
 .header2-button-loupe {
  border: none;
  background: none;
 }
 
 .header2-form-location {
  display: flex;
  column-gap: 5px;
 }
 
 .header2-form-city {
  border: none;
  background: none;
  color: #fff;
 }
select::-ms-expand { display: none; /* Удаляем ненужную стрелку */ }
select {
  -webkit-appearance: none; /* Для Chrome и Safari */
  -moz-appearance: none; /* Для Firefox */
  appearance: none; /* Для всех современных браузеров */
  background-color: white; /* Это очень важно */
}

.header2-form-city {
  background: #F0BA4E;
}
