  <header class="header">
    <a href="/" class="header-logo">
      <img
      src="/assets/Frame.svg"
      alt="EGE Logo"
      class="header-logo-image"
      width="60" height="40"
      >
    </a>
    <nav class="header-menu">
      <ul class="header-menu-list">
        <li class="header-menu-item">
          <a href="" class="header-menu-link">Главная</a>
        </li>
        <li class="header-menu-item">
          <a href="" class="header-menu-link">О компании</a>
        </li>
        <li class="header-menu-item">
          <a href="" class="header-menu-link">Каталог</a>
        </li>
      </ul>
    </nav>
    <div class="header-actions">
      <div class="header-number">
      <img src="/assets/Phone.svg" alt="Phone icon">
      +7 (965) 084-29-29 
      </div>
    <a href="" class="header-heart">
      <img src="/assets/heart.svg" alt="Heart icon">
    </a>
    <button class="header-cart">
      <img src="/assets/cart.svg" alt="Cart icon" width="28" height="28">
      Пусто
    </button>
    </div>
  </header>
  <header class="header2">
    <button class="header2-list-button">
      <img src="/assets/light.svg" alt="Button list">
    </button>
    <nav class="header2-menu">
      <ul class="header2-menu-list">
        <li class="header2-menu-item">
          <a href="" class="header2-menu-link">Каталог</a>
        </li>
        <li class="header2-menu-item">
          <a href="" class="header2-menu-link">Стройматериалы</a>
        </li>
        <li class="header2-menu-item">
          <a href="" class="header2-menu-link">Инструменты</a>
        </li>
        <li class="header2-menu-item">
          <a href="" class="header2-menu-link">Электрика</a>
        </li>
        <li class="header2-menu-item">
          <a href="" class="header2-menu-link">Интерьер и одежда</a>
        </li>
      </ul>
    </nav>
    <form class="header2-form">
      <div class="header2-form-search">
      <input type="search" class="header2-search-text" placeholder="Поиск, например Круг зачистной">
      <button class="header2-button-loupe">
      <img src="/assets/loupe.svg" alt="Loupe icon">
      </button>
      </div>
      <div class="header2-form-location">
      <img src="/assets/map-pin.svg" alt="Map icon" class="header2-form-map">
      <select name="city" id="city" class="header2-form-city">
        <option value="moscow">Москва</option>
        <option value="petersburg">Санкт-Петербург</option>
        <option value="ekaterinburg">Екатеринбург</option>
        <option value="pscov">Псков</option>
        <option value="ryazan">Рязань</option>
      </select>
      </div>
    </form>
  </header>
  