  a {
    text-decoration: none;
  }
  a.header-menu-link {
  color: #fff;
 }
 
 .header {
  padding-inline: 10px;
  max-width: 1920px;
  color: #fff;
  background-color: #4B565E;
 }
 
 .header-wrapper {
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1320px;
  height: 80px;
 }
 
 .header-left-wrapper {
  display: flex;
  align-items: center;
 }
 
 .header-menu-list {
  font-weight: 600;
  font-size: 16px;
  padding-left: 40px;
  display: flex;
  column-gap: 24px;
 }
 
 .header-actions {
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
  column-gap: 40px;
 }
 
 .header-number {
  display: flex;
  column-gap: 10px;
 }
 
 .header-heart {
  padding: 0;
  background-color: transparent;
  border: none;
 }

 .header-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 126px;
  height: 48px;
  padding: 0;
  column-gap: 10px;
  color: #fff;
  border: 1px solid #F0BA4E;
  border-radius: 50px;
  background-color: #4B565E;
 }
 
 .header2 {
  padding-inline: 10px;
  max-width: 1920px;
  background: #F0BA4E;
 }
 
  .header2-wrapper {
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1320px;
  height: 50px;
 }
 
 .header2-tree-button {
  border: none;
  background: none;
  padding: 0 10px 0 0;
 }
 
 .header2-menu {
  font-weight: 600;
  font-size: 14px;
  display: flex;
  column-gap: 24px;
 }
 
 .header2-menu-button {
  padding: 0;
  border: none;
  background: none;
  color: #3C3C3B;
 }
 
 .header2-form {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 24px;
 }
 
 .header2-form-search {
  display: flex;
  border-bottom: 1px solid #3C3C3B;
 }
 
 .header2-search-text {
  font-weight: 400;
  font-size: 16px;
  width: 300px;
  border: none;
  background: none;
 }
 
 .header2-button-loupe {
  border: none;
  background: none;
 }
 
 .header2-form-location {
  display: flex;
  column-gap: 5px;
 }
 
 .header2-form-city {
  font-weight: 500;
  font-size: 14px;
  border: none;
  background: none;
  color: #fff;
 }
select::-ms-expand {
  display: none;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: white;
}

.header2-form-city {
  background: #F0BA4E;
}

.color-gray {
  color: #A1A0A0;
}

.benefit-list {
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
  margin-top: 28px;
  column-gap: 28px;
  max-width: 1319px;
}

.benefit-item {
  display: flex;
  column-gap: 16px;
  font-weight: 500;
  font-size: 18px;
  max-width: 421px;
  height: 72px;
}


.products {
  margin-inline: auto;
  margin-top: 28px;
  max-width: 1320px;
  height: 463px;
}

.products-pagination {
  display: flex;
  justify-content: end;
  column-gap: 16px;
}

.pagination-button {
  border: none;
  background: none;
  color: #A1A0A0;
  font-weight: 400;
  font-size: 16px;
  padding: 0;
}

.is-current {
  color: #F0BA4E;
  font-weight: 600;
  font-size: 16px;
}

.product-card {
  display: grid;
  gap: 28px;
  grid-template-columns: repeat(3, 1fr);
  font-weight: 600;
  font-size: 28px;
  color: #3C3C3B;
}

.poduct-card-item1 {
  grid-row: span 2;
  height: 428px;
  max-width: 421px;
  padding: 16px;
  background-image: url('/assets/images/product-firstcard-image.png');
  background-position-y: bottom;
  background-position-x: left;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 0 20px 50px 0 rgba(60, 60, 59, 0.07);
}

.poduct-card-item2 {
  height: 200px;
  max-width: 421px;
  padding: 16px;
  background-image: url('/assets/images/product-secondcard-image.png');
  background-position-y: bottom;
  background-position-x: left;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 0 20px 50px 0 rgba(60, 60, 59, 0.07);
}

.poduct-card-item3 {
  height: 200px;
  max-width: 421px;
  padding: 16px;
  background-image: url('/assets/images/product-thirdcard-image.png');
  background-position-y: bottom;
  background-position-x: right;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 0 20px 50px 0 rgba(60, 60, 59, 0.07);
}

.poduct-card-item4 {
  height: 200px;
  max-width: 421px;
  padding: 16px;
  background-image: url('/assets/images/product-fourthcard-image.png');
  background-position-y: bottom;
  background-position-x: right;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 0 20px 50px 0 rgba(60, 60, 59, 0.07);
}

.poduct-card-item5 {
  height: 200px;
  max-width: 421px;
  padding: 16px;
  background-image: url('/assets/images/product-fifthcard-image.png');
  background-position-y: bottom;
  background-position-x: left;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 0 20px 50px 0 rgba(60, 60, 59, 0.07);
}

.product-card-title-right {
  display: flex;
  justify-content: right;
}

.poduct-card-link {
  align-self: end;
  font-weight: 400;
  font-size: 14px;
}

.poduct-card-link-left {
  align-self: start;
  font-weight: 400;
  font-size: 14px;
}

.product-card-href {
  border: 1px solid #F0BA4E;
  border-radius: 80px;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.product-card-arrow {
  width: 21px;
  height: 8px;
}

.popular_products {
  margin-inline: auto;
  margin-top: 56px;
  max-width: 1320px;
  color: #3C3C3B;
}

.popular_products-title {
  display: flex;
  justify-content: space-between;
}

.popular_products-title-text {
  font-size: 28px;
  font-weight: 500;
  color: #000000;
}

.popular_products-title-link {
  font-weight: 600;
  font-size: 18px;
  color: #F0BA4E;
}

.popular_products-list {
  display: flex;
  gap: 28px;
}

.popular_products-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  width: 309px;
  height: 450px;
  box-shadow: 0 20px 50px 0 rgba(18, 17, 39, 0.08);
  background-image: url(/assets/images/cutting-wheel.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 25px;
}

.products-item-head {
display: flex;
justify-content: space-between;
}

.products-item-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.products-item-discount {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 61px;
  padding: 10px 20px;
  width: 54px;
  height: 39px;
  background-color: #FA5D69;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}

.products-item-heart {
  height: 39px;
  padding: 0;
  border: none;
  background: none;
  display: flex;
  justify-content: end;
  align-items: center;
}

.pruducts-item-new {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  background-color: #08C785;
  border-radius: 54px;
  padding: 10px 20px;
  width: 109px;
  height: 39px;
}

.products-item-main {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.item-main-name {
  font-weight: 600;
  font-size: 20px;
}

.products-item-articul {
  font-weight: 500;
  font-size: 16px;
}

.products-item-price {
  display: flex;
  flex-direction: column;
  padding: 12px 0;
  row-gap: 6px;
}

.prise-wrapper {
  display: flex;
  column-gap: 16px;
  align-items: center;
}

.prise-strikeout {
  font-weight: 600;
  font-size: 16px;
  text-decoration: line-through;
  
}

.prise-number {
  font-weight: 600;
  font-size: 20px;
}

.products-item-order {
  display: flex;
  justify-content: space-between;
}

.order-quantity {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.quantity-text {
  font-weight: 500;
  font-size: 16px;
}

.quantity-actions {
  display: flex;
  column-gap: 16px;
}

.minus, .plus {
  font-weight: 400;
  font-size: 16px;
  border: none;
  background: none;
  padding: 0;
  padding-bottom: 5px;
}

.quantity-number {
  font-weight: 500;
  font-size: 20px;
}

.quantity-cart {
  display: flex;
  align-self: center;
  align-items: center;
  border: 1px solid #F0BA4E;
  border-radius: 54px;
  padding: 14px 28px;
  width: 135px;
  height: 50px;
}

.cards-arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-weight: 400;
  font-size: 40px;
  width: 60px;
  height: 60px;
  border-radius: 36px;
  background: #fff;
  color: #F0BA4E;
  box-shadow: 0 2px 50px 0 rgba(0, 0, 0, 0.07);
  border: none;
}
.arrow-left {
  top: 50%;
  transform: translateY(-50%);
  right: calc(100% - 20px);
}

.arrow-right {
  top: 50%;
  transform: translateY(-50%);
  left: calc(100% - 20px);
}


.catalog {
  margin-inline: auto;
  margin-top: 56px;
  //transform: translateX(100px);
  max-width: 1320px;
  height: 251px;
  padding-right: 16px;
  background: linear-gradient(90deg, #f6f6f6 0%, #f6f6f6 100%);
}

.catalog-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(/assets/images/worker.png);
  background-position: right;
  background-repeat: no-repeat;
  height: 251px;
  padding: 28px;
}

.catalog-title {
  font-size: 28px;
  font-weight: 500;
  color: #000000;
}

.catolog-text {
  font-weight: 400;
  font-size: 20px;

}

.catalog-enter {
  font-weight: 600;
  font-size: 18px;
  color: #F0BA4E;
  width: fit-content;
}

footer {
  display: block;
  margin-top: 48px;
  max-width: 1920px;
  background-color: #4B565E;
}

footer > div {
  padding-top: 34px;
}

.footer-wrapper {
  display: grid;
  margin-inline: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  max-width: 1320px;
}

.footer-gap-wrapper {
  display: flex;
  column-gap: 54px;
}

.footer-left-wrapper {
  display: flex;
  column-gap: 12px;
  padding-top: 32px;
}

.footer-down {
  grid-column: span 2;
}

.footer-left-title {
  font-weight: 400;
  font-size: 12px;
  color: #A1A0A0;
}

.footer-left-text {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-content: end;
  flex-wrap: wrap;
}

.footer-right-title {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

.footer-right-text {
  font-weight: 400;
  font-size: 14px;
  color:#A1A0A0;
  padding-top: 12px;
  padding-bottom: 32px;
}

.footer-right-input {
  display: flex;
  justify-content: space-between;
  border: #F0BA4E 1px solid;
  border-radius: 30px;
  padding: 6px 6px 6px 24px;
  height: 48px;
}

.right-input-wrapper {
  display: flex;
  column-gap: 8px;
}

.right-input-search {
  background-color: transparent;
  border: none;
}

.right-input-search::placeholder {
  color: #A1A0A0;
}

.footer-right-button {
  width: 94px;
  height: 36px;
  border-radius: 30px;
  border: none;
  font-weight: 600;
  font-size: 10px;
  color: #fff;
  background-color: #F0BA4E;
}


.footer-down-nav {
  display: flex;
  column-gap: 28px;
}

a.down-nav-link {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
 }
 
 .footer-down-media {
  display: flex;
  justify-content: space-between;
  padding-top: 36px;
  padding-bottom: 32px;
 }
 
 .down-media-social {
  display: flex;
  column-gap: 20px;
 }
 
 .down-media-since {
  font-weight: 400;
  font-size: 14px;
  color: #A1A0A0;
 }