<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header class="header">
    <a href="/" class="header-logo">
      <img
      src="/assets/Frame.svg"
      alt="EGE Logo"
      class="header-logo-image"
      width="60" height="40"
      >
    </a>
    <nav class="header-menu">
      <ul class="header-menu-list">
        <li class="header-menu-item">
          <a href="" class="header-menu-link">Главная</a>
        </li>
        <li class="header-menu-item">
          <a href="" class="header-menu-link">О компании</a>
        </li>
        <li class="header-menu-item">
          <a href="" class="header-menu-link">Каталог</a>
        </li>
      </ul>
    </nav>
    <div class="header-actions">
      <div class="header-number">
      <img src="/assets/Phone.svg" alt="Phone icon">
      +7 (965) 084-29-29 
    </div>
    <a href="" class="header-heart">
      <img src="/assets/heart.svg" alt="Heart icon">
    </a>
    <button class="header-cart">
      <img src="/assets/cart.svg" alt="Cart icon">
      Пусто
    </button>
    </div>
  </header>
</body>
</html>